@media screen and (max-width: 600px) {
    .banner {
    height: 1755px; }
}



@media screen  and (max-width: 600px) {
    
    .navbar-nav{
        font-size: 25px;
        align-items: center;
    }
}

@media screen  and (max-width: 600px) {

    .cardini{
        width: 90%;
        margin: 10px;
}
}


@media screen  and (max-width: 600px) {

    #cardnosotros{
        width: 75%;
        margin: 13%;
}
}

/*#marco{
    padding: 200px;
}*/


@media screen  and (min-width: 600px) {

    #marco{
    padding: 200px;
}
}